		body {
	font-family: Verdana, 'Bitstream Vera Sans', Arial, Sans-Serif;
	font-size: 10pt;
	background: white;
	color: #222222;
	margin: 0;
	padding-top: 3em;
	padding-bottom: 3em;
	padding-left: 4.5em;
	padding-right: 4.5em;
}

h1 {
	font-size: 17pt;
	font-weight: medium;
	color: #533e72;
	border-bottom: 1px solid #533e72;
}

h1.title {
	margin-top: 0;
}

h1.error_title {
	color: red;
	border-bottom: 1px solid red;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

dt {
	font-weight: bold;
	color: #280050;
}

dd {
	margin-top: 0.5em;
	margin-bottom: 1em;
}

.commands {
	border: 1px solid #b594e7;
	background: #ddc6ff;
	padding: 0.5em;
	margin: 0.5em;
	font-family: 'Bitstream Vera Sans Mono', 'Courier New', Monospace;
}

table.backtrace th {
	background: #8470a6;
	color: white;
}

table.backtrace th,
table.backtrace td {
	padding: 0.2em;
	padding-left: 0.4em;
	padding-right: 0.4em;
}

table.backtrace tr td {
	background: #ecdfff;
	font-size:14px;
}

table.backtrace tr.even td {
	background: #f7f2ff;
}

table.backtrace td.index {
	font-weight: bold;
}

#site_footer {
	border-top: solid 1px black;
	margin-top: 1em;
	padding-top: 1em;
	font-size: small;
	color: #777777;
}

#site_footer a {
	color: #65498e;
}

#site_footer a:hover {
	color: #9681d9;
}

#site_header .corporate_identity {
	display: none;
}

#NetworkContainer {
	margin-top:-10px;
	margin-left:-8px;
	margin-right:-8px;
}

#networkToolbar {
	width: 100%;
	top: 0;
	left: 0;
	z-index: 10000;
	position: relative;
}

#networkToolbarMargin {
	height: 5px;
	background: #800219;
}

#networkToolbarTriger {
	height: 20px;
	position: absolute;
	margin-left: 760px;
}

#networkToolbarContainer {
	width: 960px;
	margin: 0 auto;
}

#toolbarContainer {
	width: 100%;
	background: #333 url(../images/rbnShadow.png) repeat-x 0 bottom;
	margin-top:-10px;
}
#menuToolbarContent {
	width: 100%;
	padding: 20px 0 20px;
	color: #999;
	text-align: center;
}

#menuToolbarContent a {
	color: #FFFF99;
	font-weight: bold;
	margin: 10px 5px 0;
}

#menuTrigger:hover {
	background:none;
}
#menuTrigger img {
	border:none;
}


#site_body #accordion ul li {
	border:0px;
}
#site_body table.backtrace ul {
	list-style-type: square;	
}

#site_body table.backtrace ul li {
	padding-top:6px;
	background:none;
	border:none;
}

#site_body table.backtrace td {
	font-size:16px;
}

#site_body table.backtrace tr.homepage td {
	font-size:14px;
}

a:link, a:visited, a:hover {
	color:blue;
	text-decoration:underline;
}

#searchContainer {
	padding:7px;
	text-align:right;
}

#whereami {
	font-size:17px;
}

#hint {
	line-height:18px;
	width:210px;
	display:block;
	font-size:14px;
	float:right;
	padding:10px;
	padding-top:3px;
	font-weight:normal;
	padding-bottom:3px;
	color:white;
	background:#C00;
	border:3px solid #white;
	margin-left:5px;
}

.gist {
	width:870px;
}

dd {
	text-align: left;
}