---
layout: sinatra
---

<div id="get">
<a id="homepage_link" href="/">Back to Posts List</a>
  <h3 id="get-info">GET</h3> 
	<h3 class="post_title"><a href="{{ page.url }}">{{ page.title }}</a></h3>
    <div class="single_post">
			{{ content }}
	</div>
  <div class="clear"></div>
</div> <!-- /GET -->

<div id="post">
  <h3 id="post-info">POST</h3>
  	<div id="disqus_thread"></div><script type="text/javascript" src="http://disqus.com/forums/emphasizedinsanity/embed.js"></script><noscript><a href="http://emphasizedinsanity.disqus.com/?url=ref">View the discussion thread.</a></noscript><a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
  <div class="clear"></div>
</div> <!-- /POST -->