---
layout: sinatra
---

<div id="get">
<a id="homepage_link" href="/">Back to Posts List</a>
  <h3 id="get-info">GET</h3> 
	<h3 class="post_title"><a href="{{ page.url }}">{{ page.title }}</a></h3>
    <div class="single_post">
			{{ content }}
	</div>
  <div class="clear"></div>
</div> <!-- /GET -->

<div id="post">
  <h3 id="post-info">POST</h3>
  <div class="clear"></div>
  <div id="disqus_thread"></div>
  <script type="text/javascript">
    /**
      * var disqus_identifier; [Optional but recommended: Define a unique identifier (e.g. post id or slug) for this thread] 
      */
    (function() {
     var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
     dsq.src = 'http://emphasizedinsanity.disqus.com/embed.js';
     (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript=emphasizedinsanity">comments powered by Disqus.</a></noscript>
  <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
  
</div> <!-- /POST -->